# Don't upload credentials to git remote.
cache.json
calendar-sample.go
client_secrets.json

# Don't upload personal calendar during testing.
tripit.ics

# In case you have set ${GOPATH} = ${GIT_ROOT}
pkg/
src/
