<!DOCTYPE html>
<html>
  <head>
    <title>Persistent Calendar</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script src="/javascript/app-logic.js"></script>
  </head>
  <body>
    <span id="persistentCalData" style="display: none;" data-calendars="{{.CalendarsJSON}}" data-frequency="{{.Frequency}}"></span>
    <table id="status-table">
      <tr>
        <td style="border-right-style:solid; border-right-width:1px;">
          Hello {{.Email}}. </br> Thanks for signing up.
        </td>
        <td>
          <table id="subscriptions">
            <tr id="subscriptions-row" style="display:none">
              <td style="border-bottom-style:solid; border-bottom-width:1px;">
                Your subscriptions
              </td>
            </tr>
            <tr><td id="cal-0"></td></tr>
            <tr><td id="cal-1"></td></tr>
            <tr><td id="cal-2"></td></tr>
            <tr><td id="cal-3"></td></tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="border-top-style:solid; border-top-width:1px;" colspan="2">
          Your subscriptions will be updated <text id="freq-val"></text>.
        </td>
      </tr>
    </table>

    <div id="add-panel" class="panel">
      <!-- Thanks to pete lepage (see main.css for link) -->
      <a href="#" onclick="togglePanel('add');" class="controller">&gt;</a>
      <div class="controller">ADD</div>
      <form id="add">
        <div id="cal-data">
          <input type="text" id="calendar-link" name="calendar-link" /><br/ >
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>

    <div id="freq-panel" class="panel">
      <a href="#" onclick="togglePanel('freq');" class="controller">&gt;</a>
      <div class="controller">CHG</div>
      <form id="freq">
        <div id="freq-data">
            <select id="frequency" name="frequency">
              <option value="three-hrs">3 hours</option>
              <option value="six-hrs">6 hours</option>
              <option value="half-day">12 hours</option>
              <option value="day">24 hours</option>
              <option value="two-day">2 days</option>
              <option value="week">1 week</option>
            </select><br/ >
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>

    <div id="alerts"></div>

    <div id="footer">
      <p><a href="/about">About</a></br>
      persistent-cal is managed by Danny Hermes.</br>
      Please contact daniel.j.hermes@gmail.com for any questions.</p>
    </div>
  </body>
</html>
